@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
/* green: #428a66
  orange: #ffab69
	blue: #004d99
	pink: #f4d7f4
*/
body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background: #ffab69;
}
 h1, h2, h3, h6, a {
	font-family: 'Potta One', cursive;
}
.jt {
	background: #ffab69;
	color: #004d99;
	text-align: center;
	margin: 30px 200px;

}
.btn{
	color: #004d99;
}
.gif {
	width: 480px;
	height: 480px;
}