@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
/* green: #428a66
  orange: #ffab69
	blue: #004d99
	pink: #f4d7f4
*/
body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background: #ffab69;
}
 h1, h2, h3, h6, a {
	font-family: 'Potta One', cursive;
}
/* start logo */
.logo {
  background: #428a66;
}
.logo img {
  width: 468px; 
  height: 150px;
}
/* end logo */

/* start nav */
.nav {
  background: #428a66;
}
.nav-link {
  color:#ffab69;
}
.nav-link:hover {
  color: white;
}
.navbar-toggler-icon {
  background-image: url("../images/menu-toggle.png")
}
/* end nav */

/*flip box start*/
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 550px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #428a66;
  color: #ffab69;
}
.flip-box-front h2 {
	padding-top: 250px;
}
/* Style the back side */
.flip-box-back {
  background-color: #1ca35f;
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back h2 {
	padding-top: 10px;
}
/*flip box end*/

/*options start*/
.color-grt {
  color: #428a66;
  text-align: center;
  margin-top: 30px;
}
.color-gr {
  color: #428a66;
  text-align: center;
  margin-bottom: 40px;
}
button {
	color: #ffab69;
	background: #428a66;
	padding: 4px;
	border-style: solid;
	border-color: #346e51;
	border-width: medium;
}
button:hover {
	background: #1ca35f;
	color: white;
}
#myVideo1 {
  width: 80%;
  height: auto;	
}
#myDIV1 {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #1ca35f;
  margin-top: 20px;
}
#myVideo2 {
  width: 80%;
  height: auto;	
}
#myDIV2 {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #1ca35f;
  margin-top: 20px;
}
#myVideo3 {
  width: 80%;
  height: auto;	
}
#myDIV3 {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #1ca35f;
  margin-top: 20px;
}
/*options end*/

/*jumbotron start*/
.jt {
	background: #ffab69;
	color: #428a66;
	text-align: center;
	margin: auto;
}
.jt h3 {
	font-size: x-large;
}
.btn{
	color: #ffab69;
	background: #428a66;
}
.btn:hover {
	background: #1ca35f;
}
.gif {
	width:450px;
	height:450px;
	padding-bottom:10px;
	position:relative;
/*jumbotron end*/
}